@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-background {
  background: linear-gradient(300deg, #6B28C8, #0F926F, #0BA360);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes slideUp {
  from {
      transform: translateY(100px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.slide-up {
  animation: slideUp 1s ease-out;
}