.padding-bottom {
  padding-bottom: 6rem;
}

.padding-for-gradient {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section-margin {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.resume-name {
  font-size: 2rem;
}

.list-indent {
  margin-left: 5rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 150px;
  border-radius: 50%;
}

.margin-negative {
  margin-bottom: -30px;
}

#aboutMe {
  margin-top: -150px;
  position: relative;
  z-index: 1;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 50px;
}

svg {
  width: 30px;
  height: 30px;
}
