.padding-bottom {
  padding-bottom: 6rem;
}

.gradient-background {
  background: linear-gradient(300deg, #6B28C8, #0F926F, #0BA360);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.padding-for-gradient {
  padding-top: 75px;
  padding-bottom: 75px;
}

.padding-for-gradient-small {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-margin {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.testimonial-name {
  font-size: 2rem;
}

.list-indent {
  margin-left: 5rem; /* Adjust the left margin as needed */
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 150px;
  border-radius: 50%;
}

@keyframes slideUp {
  from {
      transform: translateY(100px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.slide-up {
  animation: slideUp 1s ease-out;
}

.margin-negative {
  margin-bottom: -30px;
}

#aboutMe {
  margin-top: -150px;
  position: relative;
  z-index: 1;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 50px;
}

